<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
 	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>
	<div layout:fragment="content">
<h4>도서대여관리 프로그램</h4>

<div>국제 대여점의 도서등록, 대여정보 데이터 베이스를 구축하고, 도서DVD 대여관리를 위한 프로그램이다.</div>

<div>1.도서정도 테이블을 생성한다</div>
<div>2.대여정도 테이블을 생성한다</div>
<div>3.... 이하생력</div>
</body>
</html>